.nav {

    &__cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }

    &__btn {
        @include respond(phone) {
            display: none;
        }
    }

    &__sidebar {
        width: 75%;
        max-width: 300px;
        height: 100%;
        padding: 2rem 1rem;
        background-color: $default-color;
        position: fixed;
        z-index: 3;
        left: -300px;
        transition: 0.2s linear;

        h3 {
            color: $default-body-color;
            font-size: 0.75rem;
            text-transform: uppercase;
            margin-bottom: 0.5em;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            h3 {
                font-size: 20px;
            }
        }
    }


    &__menu {
        margin: 0 -1rem;

        &__item {
            display: block;
            padding: 1em;
            color: $default-body-color;
            text-decoration: none;
            transition: 0.2s linear;

            &:hover {
                color: $default-body-color;
                border-right: 5px solid $default-body-color;
            }
        }
    }
}

.is-active {
    left: 0px;
}