// Color
$default-body-color: #1d0e16;

$default-color: #F2E5F5;

$color-white: #fff;

$color-black: #000;

$color-yellow: #F1D369;

$dark-purple: #50046F;

$footer-color: rgba(29, 14, 22, 0.7);

$footer-header: #1D0E16;


// Font
$default-font-fam-mono: 'Space Mono',
monospace;

$default-font-fam-grostek: 'Space Grotesk',
sans-serif;

$default-font-size: 18px;

$font-weight-sm: 100;

$font-weight-sml: 400;

$font-weight-m: 600;

$font-weight-md: 700;

$font-weight-l: 800;

$font-weight-lg: 900;

$bold: bold;

// Buttons
$btn-color: #DDB3ED;

$btn-font-size: 16px;
